
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<PayCore.UI.Models.ORM.Book>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Add Date</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.AddDate.ToShortDateString()</td>
                <td><a href="/book/delete/@item.Id">Delete</a></td>
                <td><a href="/book/edit/@item.Id">Update</a></td>
                <td><a href="/book/detail/@item.Id">Detail</a></td>

            </tr>
        }
    </tbody>
</table>