
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<PayCore.UI.Models.Dto.ListWriterDto>

<h1>Writers</h1>


<table>
    <thead>
        <tr>

        </tr>
    </thead>
</table>

