

<div style="display:flex; flex-direction:column;justify-content:center; align-items:center">
   <a href="/auth/login">Giris Yap</a>
   <span>Veya</span>
    <a href="/auth/register">Uye Ol</a>
</div>